@import 'common/styles/breakpoints';

.timelineControls {
  margin: 70px 0 0 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.timelineControlsButtons {
  display: flex;
  gap: 20px;
}

@media (max-width: $mobile) {
  .timelineControls {
    margin: 0;
    gap: 10px;
  }

  .timelineControlsButtons {
    gap: 8px;
  }
}
