.timeline {
  position: relative;
}

.heading {
  position: relative;
  display: inline-block;
  margin: 170px 0 0 80px;
}

.heading::before {
  content: '';
  position: absolute;
  left: -80px;
  top: 0;
  bottom: 0;
  width: 5px;
  background: linear-gradient(
    180deg,
    var(--color-timeline-list-date) 0%,
    var(--color-timeline-last-date) 100%
  );
}

.timelineTop {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline::before {
  content: '';
  position: absolute;
  top: -50%;
  bottom: 0;
  left: 50%;
  width: 1px;
  transform: translateX(-0.5px);
  background-color: var(--color-accent-soft);
  pointer-events: none;
}

.timelineTop::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  transform: translateY(-0.5px);
  background-color: var(--color-accent-soft);
  pointer-events: none;
}

.years {
  position: relative;
  display: flex;
  gap: 90px;
  z-index: 2;
  pointer-events: none;
}

.yearLeft {
  color: var(--color-timeline-first-date);
}

.yearRight {
  color: var(--color-timeline-last-date);
}

.bottom {
  display: flex;
  flex-direction: column;
  gap: 56px;
}
