@import 'common/styles/breakpoints';

.timeline {
  position: relative;
}

.heading {
  position: relative;
  display: inline-block;
  margin: 170px 0 0 80px;
}

.heading::before {
  content: '';
  position: absolute;
  left: -80px;
  top: 0;
  bottom: 0;
  width: 5px;
  background: linear-gradient(
    180deg,
    var(--color-timeline-list-date) 0%,
    var(--color-timeline-last-date) 100%
  );
}

.timelineTop {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline::before {
  content: '';
  position: absolute;
  top: -50%;
  bottom: 0;
  left: 50%;
  width: 1px;
  transform: translateX(-0.5px);
  background-color: var(--color-accent-soft);
  pointer-events: none;
}

.timelineTop::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  transform: translateY(-0.5px);
  background-color: var(--color-accent-soft);
  pointer-events: none;
}

.years {
  position: relative;
  display: flex;
  gap: 90px;
  z-index: 2;
  pointer-events: none;
}

.yearLeft {
  color: var(--color-timeline-first-date);
}

.yearRight {
  color: var(--color-timeline-last-date);
}

.bottom {
  display: flex;
  flex-direction: column;
  gap: 56px;
  padding: 0 0 100px;
}

@media (max-width: $mobile) {
  .timeline {
    margin: 60px 20px 14px;
  }

  .heading {
    margin: 0;
  }

  .timelineTop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 24px;
  }

  .years {
    gap: 27px;
    margin: 56px 0 78px;
  }

  .yearLeft {
    color: var(--color-timeline-list-date);
  }

  .timelineTop::after {
    background-color: #c7cdd9;
    top: 100%;
  }

  .timelineTop > :last-child {
    display: none;
  }

  .heading::before,
  .timeline::before {
    display: none;
  }

  .bottom {
    gap: 78px;
    padding: 20px 0 13px;
  }

  .bottom > :first-child {
    order: 2;
  }

  .bottom > :last-child {
    order: 1;
    width: 100%;
  }
}
