@import 'common/styles/breakpoints';

.timeline {
  position: relative;
  display: flex;
  flex-direction: column;

  .header {
    padding: 170px 0 0 80px;

    .heading {
      position: relative;
      display: inline-block;

      &::before {
        content: '';
        position: absolute;
        left: -80px;
        top: 0;
        bottom: 0;
        width: 5px;
        background: linear-gradient(
          180deg,
          var(--color-timeline-list-date) 0%,
          var(--color-timeline-last-date) 100%
        );
      }
    }
  }

  .timelineTop {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: '';
      position: absolute;
      top: -100%;
      bottom: -100%;
      left: 50%;
      width: 1px;
      transform: translateX(-0.5px);
      background-color: var(--color-accent-soft);
      pointer-events: none;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      transform: translateY(-0.5px);
      background-color: var(--color-accent-soft);
      pointer-events: none;
    }

    .years {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 90px;
      z-index: 2;
      pointer-events: none;

      .yearLeft {
        color: var(--color-timeline-first-date);
      }

      .yearRight {
        color: var(--color-timeline-last-date);
      }
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    gap: 56px;
    padding: 0 0 100px;
  }

  @media (max-width: $mobile) {
    padding: 0;

    &::before {
      display: none;
    }

    .header {
      padding: 0;

      .heading {
        margin: 0;

        &::before {
          display: none;
        }
      }
    }

    .timelineTop {
      display: flex;
      flex-direction: column;

      &::after {
        background-color: #c7cdd9;
        top: 100%;
      }

      &::before {
        display: none;
      }

      .years {
        gap: 27px;
        margin: 56px 0 78px;

        .yearLeft {
          color: var(--color-timeline-list-date);
        }
      }

      > :last-child {
        display: none;
      }
    }

    .bottom {
      gap: 78px;
      padding: 20px 0 13px;

      > :first-child {
        order: 2;
      }

      > :last-child {
        order: 1;
        width: 100%;
      }
    }
  }
}
