:root {
  --color-accent: #42567a;
  --color-accent-soft: rgb(66 86 122 / 10%);
  --color-timeline-circle: rgb(66 86 122 / 20%);
  --color-control-border: rgb(48 62 88 / 50%);
  --color-timeline-first-date: #5d5fef;
  --color-timeline-last-date: #ef5da8;
  --color-timeline-list-date: #3877ee;
  --color-bg-surface: #f4f5f9;
  --color-bg-white: #ffff;
}
