:root {
  --font-family-base: 'PT Sans';
  --font-family-heading: 'Bebas Neue';

  /* font-sizes */
  --font-size-s: 14px;
  --font-size-mobile-s: 16px;
  --font-size-m: 20px;
  --font-size-l: 25px;
  --font-size-xl: 56px;
  --font-size-xxl: 200px;

  /* line-heights */
  --line-height-s: 1.2;
  --line-height-m: 1.3;
  --line-height-l: 1.5;
  --line-height-xl: 1.6;

  /* font-weights */
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

@mixin typography(
  $fontSize,
  $lineHeight,
  $fontWeight,
  $fontFamily: var(--font-family-base),
  $color: var(--color-accent)
) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  font-family: $fontFamily, sans-serif;
  color: $color;
  margin: 0;
}

.text-h1 {
  @include typography(var(--font-size-xl), var(--line-height-s), var(--font-weight-bold));
}

.text-display {
  @include typography(var(--font-size-xxl), var(--line-height-xl), var(--font-weight-bold));
}

.text-heading {
  @include typography(
    var(--font-size-l),
    var(--line-height-s),
    var(--font-weight-regular),
    var(--font-family-heading),
    var(--color-timeline-list-date)
  );
}

.text-body {
  @include typography(var(--font-size-m), var(--line-height-l), var(--font-weight-regular));
}

.text-body-strong {
  @include typography(var(--font-size-m), var(--line-height-m), var(--font-weight-bold));
}

.text-caption {
  @include typography(var(--font-size-s), var(--line-height-s), var(--font-weight-regular));
}

@media (width <= 768px) {
  .text-h1 {
    @include typography(var(--font-size-m), var(--line-height-s), var(--font-weight-bold));
  }

  .text-display {
    @include typography(var(--font-size-xl), var(--line-height-s), var(--font-weight-bold));
  }

  .text-heading {
    @include typography(
      var(--font-size-mobile-s),
      var(--line-height-s),
      var(--font-weight-regular),
      var(--font-family-heading),
      var(--color-timeline-list-date)
    );
  }

  .text-body {
    @include typography(var(--font-size-s), var(--line-height-l), var(--font-weight-regular));
  }
}
