:root {
  --color-accent: #42567A;
   --color-accent-soft: rgb(66 86 122 / 10%);

  // --color-accent-soft: black;
  --color-timeline-first-date: #5D5FEF;
  --color-timeline-last-date:  #EF5DA8;
  --color-timeline-list-date:  #3877EE;
}
