.page {
  position: relative;
  min-height: 100vh;
  margin: 0 160px 0 320px;
  max-width: 1920px;
  border-left: 1px solid var(--color-accent-soft);
  border-right: 1px solid var(--color-accent-soft);
}

.pageInner {
  position: relative;
  min-height: 100vh;
}
