@import 'common/styles/breakpoints';

.page {
  position: relative;
  min-height: 100vh;
  margin: 0 160px 0 320px;
  border-left: 1px solid var(--color-accent-soft);
  border-right: 1px solid var(--color-accent-soft);

  .pageInner {
    max-width: 1920px;
    position: relative;
  }

  @media (max-width: $mobile) {
    max-width: 768px;
    min-height: auto;
    margin: 60px 20px 13px;
    box-sizing: border-box;
    border: none;
  }
}
