.button {
  border-radius: 50%;
  border: 1px solid var(--color-control-border);
  align-items: center;
  cursor: pointer;
  color: var(--color-accent);
  background-color: var(--color-bg-surface);

  &.small {
    width: 40px;
    height: 40px;
  }

  &.medium {
    width: 50px;
    height: 50px;
  }

  &.large {
    width: 56px;
    height: 56px;
  }
}
