@import 'common/styles/breakpoints';

.button {
  border-radius: 50%;
  border: 1px solid var(--color-control-border);
  align-items: center;
  cursor: pointer;
  color: var(--color-accent);
  background-color: var(--color-bg-white);

  &.small {
    width: 40px;
    height: 40px;
  }

  &.medium {
    width: 50px;
    height: 50px;
  }

  &.large {
    width: 56px;
    height: 56px;
  }
}

.button:disabled {
  opacity: 0.4;
  cursor: default;
}

@media (max-width: $mobile) {
  .button {
    &.medium {
      width: 25px;
      height: 25px;
    }
  }
}
