@import 'common/styles/breakpoints';

.slider {
  display: flex;
  align-items: center;
}

.swiper {
  flex: 1;
}

.navHidden {
  opacity: 0;
  pointer-events: none;
}

.navPrev,
.navNext {
  color: var(--color-timeline-list-date);
  margin: 0 20px;
}

.slide {
  height: auto;
}

.card {
  min-height: 135px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.dots {
  display: none;
}

.bullet {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--color-accent-medium);
  opacity: 0.5;
  cursor: pointer;
}

.bulletActive {
  opacity: 1;
  background-color: var(--color-accent);
}

@media (max-width: $mobile) {
  .navPrev,
  .navNext {
    display: none;
  }

  .dots {
    display: flex;
    justify-content: center;
    gap: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
  }
}
