.slider {
  display: flex;
  align-items: center;
}

.swiper {
  flex: 1;
}

.navHidden {
  opacity: 0;
  pointer-events: none;
}

.navPrev,
.navNext {
  color: var(--color-timeline-list-date);
  margin: 0 20px;
}

.card {
  min-height: 135px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
