@import 'common/styles/breakpoints';

.timelineEvents {
  .slider {
    display: flex;
    align-items: center;

    .navPrev,
    .navNext {
      color: var(--color-timeline-list-date);
      margin: 0 20px;
    }

    .swiper {
      flex: 1;
    }

    .slide {
      height: auto;

      .card {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
      }
    }

    @media (max-width: $mobile) {
      .navPrev,
      .navNext {
        display: none;
      }
    }
  }

  .dots {
    display: none;

    @media (max-width: $mobile) {
      display: flex;
      justify-content: center;
      gap: 10px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 20px;
    }
  }
}

.bullet {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--color-accent-medium);
  opacity: 0.5;
  cursor: pointer;
}

.bulletActive {
  opacity: 1;
  background-color: var(--color-accent);
}
